.container {
    display: flex;
    flex-direction: column-reverse;
    align-items: auto;
    width: 15%;
    border: 5px solid rgb(114, 157, 223);
    border-radius: 5px;
    margin: 20px;
    flex-basis: 33,33%;
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgba(247, 179, 53, 0.5);
}

.boton{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    position: relative;
    top: -93%;
    right: -41%;
    border: 0px solid black;
    border-radius: 15px;
    color: grey;
    font-size: medium;
    background-color: rgba(104, 22, 104,0.7);
}

.especie{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    margin-top: 1%;
   
}