body {
  background-image: url(../img/wallpaperflare.com_wallpaper.png);
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
